button {
	
	border: none;
	outline: 0;
	-webkit-appearance: none;
	font-family: inherit;
	background-color: transparent;
}


/*css 进度条*/
background:-webkit-linear-gradient(90deg,#ffc400 10%,#fff2bc 10%)
background:linear-gradient(90deg,#ffc400 10%,#fff2bc 10%)

/*根据子节点数量显示不同的样式*/
li:first-child:nth-last-child(1) {
	width: 100%;
}
/* two items */
li:first-child:nth-last-child(2),
li:first-child:nth-last-child(2) ~ li {
	width: 50%;
}
/* three items */
li:first-child:nth-last-child(3),
li:first-child:nth-last-child(3) ~ li {
	width: 33.3333%;
}
/* four items */
li:first-child:nth-last-child(4),
li:first-child:nth-last-child(4) ~ li {
	width: 25%;
}

/*无缝滚动，需要配合在列表最后加一行冗余数据，并且绝对定位*/
@keyframes scroll {
    0% {
        @include transform( translateY( 0 ) );
    }

    50%{
        @include transform( translateY( -100% ) );
    }

    50.01%{
        @include transform( translateY( 0 ) );
    }

    100%{
        @include transform( translateY( -100% ) );
    }
}

/*inline-block单行垂直居中
1、所有元素使用 display: inline-block
2、如果只有单个元素，比如img，需要在父容器加上 line-height：父容器的高度
*/

/*Safari 7以上的hack*/
_::-webkit-full-page-media, _:future, :root .levelProgress > span {
    //@include gradient-text;
}

.btn-close{
    position: absolute;
    top: pxToRem(20px);
    right: pxToRem(20px);
    width: pxToRem(48px);
    height: pxToRem(48px);

    background: #fff;
    border-radius: 50%;

    @include rotate(45deg);

    &:before, &:after{
        content: '';
        position: absolute;
        height: 1px;
        width: 60%;
        left: 50%;
        top: 50%;
        background: #000;

    }

    &:before{
        @include transform(translate(-50%, -50%) scaleY(1.5)  );
    }

    &:after{
        @include transform(translate(-50%, -50%)  rotate(90deg) scaleY(1.5)  );
    }
}

/*
自定义checkbox 或者 radio样式

*/
input[type='checkbox']{
    display: inline-block;
    -webkit-appearance: none;
    width: pxToRem(28px);
    height: pxToRem(28px);
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    vertical-align: middle;
    //float: right;
    overflow: hidden;

    &:checked{
        background: #EB6;
    }

    &:after{
        display: inline-block;
        content: '';
        width: pxToRem(5px);
        height: pxToRem(12px);
        border-right: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
        @include rotate(55deg);
        margin-left: pxToRem(10px);
        margin-top: pxToRem(4px);
    }
}
/*使用border构建>样式的图标，通过scale来做水平和垂直居中*/
.record-toggle{
    height: pxToRem(80px);
    width: pxToRem(80px);
    
    border: pxToRem(15px) solid transparent;

    border-left-width: 0;
    border-bottom-width: 0;

    border-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f98c3c), color-stop(100%, #ffec84)) 1 1;
    border-image: -webkit-linear-gradient(-45deg, #f98c3c, #ffec84) 1 1;
    border-image: linear-gradient(-45deg, #f98c3c, #ffec84) 1 1;

    border-radius: pxToRem(8px);

    @include transform(rotate(45deg) scale(.2)  );
}