button {
	
	border: none;
	outline: 0;
	-webkit-appearance: none;
	font-family: inherit;

}


/*css 进度条*/
background:-webkit-linear-gradient(90deg,#ffc400 10%,#fff2bc 10%)
background:linear-gradient(90deg,#ffc400 10%,#fff2bc 10%)

/*根据子节点数量显示不同的样式*/
li:first-child:nth-last-child(1) {
	width: 100%;
}
/* two items */
li:first-child:nth-last-child(2),
li:first-child:nth-last-child(2) ~ li {
	width: 50%;
}
/* three items */
li:first-child:nth-last-child(3),
li:first-child:nth-last-child(3) ~ li {
	width: 33.3333%;
}
/* four items */
li:first-child:nth-last-child(4),
li:first-child:nth-last-child(4) ~ li {
	width: 25%;
}

/*无缝滚动，需要配合在列表最后加一行冗余数据，并且绝对定位*/
@keyframes scroll {
    0% {
        @include transform( translateY( 0 ) );
    }

    50%{
        @include transform( translateY( -100% ) );
    }

    50.01%{
        @include transform( translateY( 0 ) );
    }

    100%{
        @include transform( translateY( -100% ) );
    }
}

/*inline-block单行垂直居中
1、所有元素使用 display: inline-block
2、如果只有单个元素，比如img，需要在父容器加上 line-height：父容器的高度
*/

/*Safari 7以上的hack*/
_::-webkit-full-page-media, _:future, :root .levelProgress > span {
    //@include gradient-text;
}